# Assignment

Q1. Write the Python program to add, subtract, multiply and divide
two pandas series ?

    Sample Series- [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]

In [2]:
# Importing required library
import pandas as pd
import numpy as np

In [3]:

df1 = pd.Series([2,4,6,8,10])
df2 = pd.Series([1,3,5,7,9])

# Addition
df_add = df1 + df2
print('Addition of two series')
print(df_add)

# Subtraction
df_sub = df1 - df2
print('\nSubtraction of two series')
print(df_sub)

# Multiplication 
df_mult = df1 * df2
print('\nMultiplication of two series')
print(df_mult)

# Division
df_div = df1 / df2
print('\nDivision of two series')
print(df_div)

Addition of two series
0     3
1     7
2    11
3    15
4    19
dtype: int64

Subtraction of two series
0    1
1    1
2    1
3    1
4    1
dtype: int64

Multiplication of two series
0     2
1    12
2    30
3    56
4    90
dtype: int64

Division of two series
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

Q2. Write a Python program to convert a dictionary to the Pandas
Series?
    
    Sample SeriesOriginal dictionary-
    {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
    Converted series -
    a 100
    b 200
    c 300
    d 400
    e 800
    dtype- int64

In [4]:
# Dictionary
dic = {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
print(' Original dictionary: ')
print(dic)

# Conversion of dictionary
new_series = pd.Series(dic)
print('\nConverted series: ')
print(new_series)
print(type(new_series))

 Original dictionary:
{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}

Converted series:
a    100
b    200
c    300
d    400
e    800
dtype: int64
<class 'pandas.core.series.Series'>


Q3. Write a python program to change the data type of given a
column or a Series?

    Sample SeriesOriginal Data Series0 100
    1 200
    2 python
    3 300.12
    4 400
    dtype- object
    Change the said data type to numeric0 100.00
    1 200.00
    2 NaN
    3 300.12
    4 400.00
    dtype- float64

In [5]:
# Original
d1 = pd.Series(['100', '200', 'python', '300.12', '400'])
print("Original Data Series: ")
print(d1)

# Conversion
d2 = pd.to_numeric(d1, errors='coerce')
print("\nChange the said data type to numeric:")
print(d2)

Original Data Series:
0       100
1       200
2    python
3    300.12
4       400
dtype: object

Change the said data type to numeric:
0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

Q4. Write the python pandas program to convert the first column of a
DataFrame as a Series?

    Sample OutputOriginal DataFramecol1 col2 col3
    0 1 4 7
    1 2 5 5
    2 3 6 8
    3 4 9 12
    4 7 5 1
    5 11 0 11
    1st column as a Series0 1
    1 2
    2 3
    3 4
    4 7
    5 11
    Name- col1, dtype- int64
    <class 'pandas.core.series.Series'>

In [6]:
# Dataframe
dic = {'col1': [1, 2, 3, 4, 7, 11], 'col2': [4, 5, 6, 9, 5, 0], 'col3': [7, 5, 8, 12, 1,11]}
df = pd.DataFrame(data=dic)
print("Original DataFrame")
print(df)
print(type(df))

# Series
df1 = df.iloc[:,0]
print("\n1st column as a Series:")
print(df1)
print(type(df1))

Original DataFrame
   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     9    12
4     7     5     1
5    11     0    11
<class 'pandas.core.frame.DataFrame'>

1st column as a Series:
0     1
1     2
2     3
3     4
4     7
5    11
Name: col1, dtype: int64
<class 'pandas.core.series.Series'>

Q5. Write a pandas program to create the mean and standard
deviation of the data of a given Series?

    Sample OutputOriginal Data Series0 1
    1 2
    2 3
    3 4
    4 5
    5 6
    6 7
    7 8
    8 9
    9 5
    10 3
    dtype- int64
    Mean of the said Data Series4.81818181818
    Standard deviation of the said Data Series2.52262489555

In [7]:

data = pd.Series(data = [1,2,3,4,5,6,7,8,9,5,3])
print("Original Data Series: ")
print(data)

print("\nMean of the said Data Series: ")
print(data.mean())

print("\nStandard deviation of the said Data Series: ")
print(data.std())

Original Data Series:
0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9     5
10    3
dtype: int64

Mean of the said Data Series:
4.818181818181818

Standard deviation of the said Data Series:
2.522624895547565

Q6. Write a pandas program to get powers of an array values
element-wise?
 
Note First array elements raised the powers from the second array.

    Sample data: {'X ':[78,85,96,80,86], ' Y ':[84,94,89,83,86],'Z':[86,97,96,72,83]}
    Expected Output:
    X Y Z
    0 78 84 86
    1 85 94 97
    2 96 89 96
    3 80 83 72
    4 86 86 83

In [8]:
# Dictionary to dataframe
df = pd.DataFrame({'X':[78,85,96,80,86], 'Y':[84,94,89,83,86],'Z':[86,97,96,72,83]});
print(df)

    X   Y   Z
0  78  84  86
1  85  94  97
2  96  89  96
3  80  83  72
4  86  86  83

Q7. Write the pandas program to get the first 3 rows of a given
DataFrame?

    Sample Python dictionary data and list labelsexam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
    'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts'- [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify'- [ 'yes', 'no', 'yes' , 'no', ' no ', ' yes ', 'yes', 'no', 'no', 'yes' ] }
    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j' ]
    Expected OutputFirst three rows of the data frameattempts name qualify score
    a 1 Anastasia yes 12.5
    b 3 Dima no 9.0
    c 2 Katherine yes 16.5

In [10]:
Data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
Labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(Data , index=Labels)

print("\nFirst three rows of the data frame:")
print(df.iloc[:3])

First three rows of the data frame:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes

Q8: Write the pandas program to select the specified columns and
the rows from a given data frame?

    Sample Python dictionary data and list labelsSelect 'name' and 'score' columns in rows 1, 3, 5, 6 from the following data frame.
    exam_data = {'name ': [ 'Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
    'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score'- [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts'- [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify'- ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes'] }
    labels = ['a ', ' b ', ' c ', ' d ', ' e ', ' f ', ' g ', 'h', 'i', 'j']
    Expected OutputSelect specific columns and rowsname score
    b Dima 9.0
    d James NaN
    f Michael 20.0
    g Matthew 14.5

In [30]:
Data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

Labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(Data , index=Labels)

print(df.iloc[[0, 1, 2, 3], [0,1]])

        name  score
a  Anastasia   12.5
b       Dima    9.0
c  Katherine   16.5
d      James    NaN

Q9. Write the pandas program to calculate mean score for each
different student in DataFrame?

    Sample Python dictionary data and list labelsexam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
    'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts'- [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify'- ['yes', 'no', ' yes ', ' no ', ' no ', ' yes ', ' yes ', ' no ', ' no ', ' yes '] }
    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
    Expected OutputMean score for each different student in data frame:
    13.5625

In [34]:
print("\nMean score for each different student in data frame:")
print(df['score'].mean())

Mean score for each different student in data frame:
13.5625

Q10. Write the Pandas program to rename columns of a given
DataFrame ?

    Sample dataOriginal data frame
    col1 col2 col3
    0 1 4 7
    1 2 5 8
    2 3 6 9
    New data frame after renaming columns:
    Column1 Column2 Column3
    0 1 4 7
    1 2 5 8
    2 3 6 9

In [40]:
# Dataframe
dic = {'col1': [1, 2, 3, 4, 7, 11], 'col2': [4, 5, 6, 9, 5, 0], 'col3': [7, 5, 8, 12, 1,11]}
df = pd.DataFrame(data=dic)
print('Original data')
print(df)
df.columns = ['Column1','Column2','Column3']
print('\n New data afer rename column')
print(df.head())

Original data
   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     9    12
4     7     5     1
5    11     0    11

 New data afer rename column
   Column1  Column2  Column3
0        1        4        7
1        2        5        5
2        3        6        8
3        4        9       12
4        7        5        1

Q11. Write a pandas program to count city-wise number of people from
a given of data set (city, name of the person)?

    Sample data-
    city Number of people
    0 California 4
    1 Georgia 2
    2 Los Angeles 4

In [41]:
df = pd.DataFrame({'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'city': ['California', 'Los Angeles', 'California', 'California', 'California', 'Los Angeles', 'Los Angeles', 'Georgia', 'Georgia', 'Los Angeles']})
df1 = df.groupby(["city"]).size().reset_index(name='Number of people')
print(df1)

          city  Number of people
0   California                 4
1      Georgia                 2
2  Los Angeles                 4

Q12. Write a pandas program to widen output display to see more
columns?
    
    Sample dataOriginal data frame
    col1 col2 col3
    0 1 4 7
    1 4 5 8
    2 3 6 9
    3 4 7 0
    4 5 8 1

In [47]:
Data = {'col1': [1, 4, 3, 4, 5], 'col2': [4, 5, 6, 7, 8], 'col3': [7, 8, 9, 0, 1]}
df = pd.DataFrame(data=Data)
print("Original DataFrame")
print(df)

Original DataFrame
   col1  col2  col3
0     1     4     7
1     4     5     8
2     3     6     9
3     4     7     0
4     5     8     1

Q13. Write a pandas program to convert the data frame column type
from string to DateTime?
    
    Sample dataString Date0 3/11/2000
    1 3/12/2000
    2 3/13/2000
    dtype- object
    Original DataFrame (string to datetime)-
    0
    0 2000-03-11
    1 2000-03-12
    2 2000-03-13

In [60]:
# String data
Data = pd.Series(['3/11/2000','3/12/2000','3/13/2000'])
print('Sring Data')
print(Data)
type(Data)

# Dataframe to DataTime
Date = pd.to_datetime(Data)
df = pd.DataFrame(data=Date)
print('\nOriginal Dataframe to (String to datetime)')
print(df)

Sring Data
0    3/11/2000
1    3/12/2000
2    3/13/2000
dtype: object

Original Dataframe to (String to datetime)
           0
0 2000-03-11
1 2000-03-12
2 2000-03-13

Q14. Write a pandas program to append the data to an empty
DataFrame?

    Sample dataOriginal DataFrame- After appending some data: col1 col2 0 0 0 1 1 1 2 2 2

In [7]:
Dic = {'col1':[0,1,2],'col2':[0,1,2]}

# Empty dataframe
df1= pd.DataFrame()
df2=pd.DataFrame(data=Dic)
print('Ater appending some data: ')
df = df.append(df2)
print(df)

Ater appending some data:
   col1  col2
0     0     0
1     1     1
2     2     2

Q15. Write a pandas program to count the number of columns of a
DataFrame?

    Sample OutputOriginal DataFrame
    col1 col2 col3
    0 1 4 7
    1 2 5 8
    2 3 6 12
    3 4 9 1
    4 7 5 11
    Number of columns- 3

In [10]:
Dic= {'col1':[1,2,3,4,7],'col2':[4,5,6,9,5],'col3':[7,8,12,1,11]}

# Converting Dict to Dataframe

df = pd.DataFrame(data=Dic)
print('Original Dataframe')
print(df)
print('\n Number of columns:{}'.format(len(df.columns)))

Original Dataframe
   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6    12
3     4     9     1
4     7     5    11

 Number of columns:3

Q16. Write a Pandas program to remove the last n rows of a given
DataFrame ?

    Sample Output:
    Original DataFrame
    col1 col2 col3
    0 1 4 7
    1 2 5 5
    2 3 6 8
    3 4 9 12
    4 7 5 1
    5 11 0 11
    After removing last 3 rows of the said DataFramecol1 col2 col3
    0 1 4 7
    1 2 5 5
    2 3 6 8
    
     Link for Datasets
     (https://drive.google.com/drive/folders/105ftuIwN9kqyPNEEm3E6IM7LqywjyvJa?usp=sharing)

In [11]:
Dic = {'col1': [1, 2, 3, 4, 7, 11], 'col2': [4, 5, 6, 9, 5, 0], 'col3': [7, 5, 8, 12, 1,11]}
# Converting to dataframe
df = pd.DataFrame(data=Dic)
print('Original dataframe')
print(df)
df = df.iloc[:3]
print('\n After removing the last 3 rows')
print(df)

Original dataframe
   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     9    12
4     7     5     1
5    11     0    11

 After removing the last 3 rows
   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8

Q17. Write a Pandas program to import excel data (coalpublic2013.xlsx
) into a Pandas data frame.

In [17]:
# Importing coalpublic2013.xlsx
Data = pd.read_excel('coalpublic2013.xlsx')
print('Original Dataframe: ')
print(Data.head())
print('\nData type {}'.format(type(Data)))

Original Dataframe:
   Year  MSHA ID                       Mine_Name  Production  Labor_Hours
0  2013   103381            Tacoa Highwall Miner       56004        22392
1  2013   103404                Reid School Mine       28807        28447
2  2013   100759  North River #1 Underground Min     1440115       474784
3  2013   103246                      Bear Creek       87587        29193
4  2013   103451                     Knight Mine      147499        46393

Data type <class 'pandas.core.frame.DataFrame'>

Q18. Write a Pandas program to import excel data (coalpublic2013.xlsx
) into a data frame and find details where "Mine Name" starts with
"P.

In [21]:
# Importing dataset
Data = pd.read_excel('coalpublic2013.xlsx')
Data[Data["Mine_Name"].map(lambda x: x.startswith('P'))].head()

    Year  MSHA ID                      Mine_Name  Production  Labor_Hours
13  2013   103332                  Powhatan Mine      140521        61394
18  2013   102976  Piney Woods Preparation Plant           0        14828
19  2013   102976  Piney Woods Preparation Plant           0        23193
46  2013   103321                 Poplar Springs      189370        76366

Q19. Write a Pandas program to import excel data (employee.xlsx )
into a Pandas dataframe and find the list of employees where
hire_date> 01-01-07.

In [29]:
# Importing dataset
Data = pd.read_excel('employee.xlsx')
print('Original Data')
print(Data.head())
print('\nEmployee hired after 01-01-07')
Data[Data['hire_date'] >= '20070101']

Original Data
   emp_id first_name last_name  hire_date
0     100     Steven      King 2003-06-17
1     101      Neena   Kochhar 2005-09-21
2     102        Lex   De Haan 2001-01-13
3     103  Alexander    Hunold 2006-01-03
4     104      Bruce     Ernst 2007-05-21

Employee hired after 01-01-07

    emp_id first_name   last_name  hire_date
4      104      Bruce       Ernst 2007-05-21
7      107      Diana     Lorentz 2007-02-07
13     113       Luis        Popp 2007-12-07
19     119      Karen  Colmenares 2007-08-10

Q20. Write a Pandas program to import excel data (employee.xlsx )
into a Pandas dataframe and find a list of the employees of a specified
year

In [33]:
# Importing dataset
Data = pd.read_excel('employee.xlsx')
print('Original Dataset')
print(Data.head())
Data = Data.set_index(['hire_date'])
Output = Data['2006']
print('\n Employee after specified year')
print(Output)

Original Dataset
   emp_id first_name last_name  hire_date
0     100     Steven      King 2003-06-17
1     101      Neena   Kochhar 2005-09-21
2     102        Lex   De Haan 2001-01-13
3     103  Alexander    Hunold 2006-01-03
4     104      Bruce     Ernst 2007-05-21

 Employee after specified year
            emp_id   first_name  last_name
hire_date
2006-01-03     103    Alexander     Hunold
2006-02-05     106        Valli  Pataballa
2006-03-07     112  Jose Manuel      Urman
2006-11-15     118          Guy     Himuro

## Great Job!